streamlit>=1.50.0
langchain
langchain-core
langchain-community
langchain-text-splitters
pypdf
faiss-cpu
sentence-transformers
duckduckgo-search
requests
torchvision
python-pptx
extra-streamlit-components
groq
pillow
plotly
audio-recorder-streamlit
perchance
moviepy>=1.0.3
edge-tts>=6.1.9
pyjwt>=2.8.0
